
body {
    padding: 0;
    margin: 0;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
}

#logo {
    margin: 10px;
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: 2rem;
}

#title {
    margin-top: 20px;
    margin-left: 120px;
    color: rgb(187, 187, 187)
}

.audio {
    margin-top: 20px;
    opacity: 0.5;
}


#timer {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px; 
    margin-top: 10px;
    color: rgb(160, 158, 158);
}


.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    /* background: rgba(0,0,0,0.5); */
    /* backdrop-filter: blur(5px); */
}

.dropbtn {
    border-radius: 10px;
    background: none;
    color: goldenrod;
    font-size: 1em;
    padding: .5em 1.5em;
    border: 1px solid;
    
    margin-top: 10px;
}

.dropbtn:hover {
    background-color: #7738DE;
    cursor: pointer;
    color: greenyellow;
    border-color: yellowgreen;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown p:hover {background-color: #ddd;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.show {display:block;}

.time-button {
    margin: 0 15px;
    background: none;
    border-radius: 10px;
    padding: 1em 1em;
    font-size: 1em;
    color: grey;
    border: 1px solid;
}

.extend-5 {
    padding: .5em 1em;
    margin-top: 10px;
}

.time-button:hover {
    color: white;
    cursor: pointer;
    border-color: white;
}

#fg {
    transition-delay: 1800ms;
    opacity: 1;
}


#fg.hide {
    opacity: 0;
    transition-duration: 1800ms;
}

@media (max-width: 1600px) {
    #title {
        align-items: center;
    }
}

@media (max-width: 1291px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    #title {
        margin: auto;
        margin-top: 10px;
    }

    #timer {
        margin: auto; 
        margin-top: 10px;
    }

    .audio {
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #title {
        margin: auto;
        margin-top: 10px;
    }

    #timer {
        margin: auto; 
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    #title {
        margin: auto;
        margin-top: 10px;
    }
}

